:root {
  --branding-color: #;
  --secondary-color: #;
  --text-color: #;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "poppins", sans-serif;
}

.container {
    background-color: aquamarine;
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: var(--heading-font-family);
}



