:root {
    --branding-color: #84A59D;
    --secondary-color: #FBECE9;
    --text-color: #131B19;
    --hover-color: #F6BD60;
    --clicked-color: #F7B6B5;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
  }
.big-container{
    display:flex;
    width:100%;
    position: relative;
}
.left-column{
    max-width:35%;
    min-width:35%;
    position:absolute;
    top:0;
    left:0;
}

.card {
    background-color: #C0DDD7;
}

.card:hover {
    background-color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #131B19;font-family:'Courier New', Courier, monospace;
    font-size:1.5rem;
}

.active-link {
    background-color: #0D8C71;
    color: #D3E3E0;
}

.card:hover,
.card:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); 
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    margin-right: 10px;
    border:2px solid #131b19;
    border-radius:10px;
}

