:root {
    --branding-color: #84A59D;
    --secondary-color: #FBECE9;
    --text-color: #131B19;
    --hover-color: #F6BD60;
    --clicked-color: #F7B6B5;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
  }

  /* This is for the first H2 */
.infohome {
font-family:'Courier New', Courier, monospace;
color:#085948;
font-weight: bold;
margin-top: 20%;
}


/* This is for the second H2 */
.infohome1 {
font-family:'Courier New', Courier, monospace;
color:#085948;
font-weight: bold;
}

/* This is for the p tags  */

.phome {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1c5447
}